<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuyiccc.tianxuan.company.mapper.CompanyMapper">

    <select id="queryCompanyList" resultType="com.wuyiccc.tianxuan.pojo.vo.CompanyInfoVO">

        SELECT
        c.id as companyId,
        c.company_name as companyName,
        c.short_name as shortName,
        c.logo as logo,
        c.address as address,
        c.nature as nature,
        c.people_size as peopleSize,
        c.industry as industry,
        c.financ_stage as financStage,
        c.review_status as reviewStatus,
        c.commit_date as commitDate,
        u.real_name as commitUser
        FROM
        tianxuan.company c
        LEFT JOIN
        tianxuan.user u
        ON
        u.id = c.commit_user_id
        WHERE
        1 = 1
        <if test="queryCompanyBO.companyName != null and queryCompanyBO.companyName != ''">
            and c.company_name LIKE concat('%', #{queryCompanyBO.companyName}, '%')
        </if>
        <if test="queryCompanyBO.commitUser != null and queryCompanyBO.commitUser != ''">
            and u.real_name LIKE concat('%', #{queryCompanyBO.commitUser}, '%')
        </if>
        <if test="queryCompanyBO.reviewStatus != null and queryCompanyBO.reviewStatus >= 0">
            and c.review_status = #{queryCompanyBO.reviewStatus}
        </if>
        <if test="queryCompanyBO.commitDateStart != null">
            and c.commit_date &gt;= #{queryCompanyBO.commitDateStart}
        </if>
        <if test="queryCompanyBO.commitDateEnd != null">
            and c.commit_date &lt;= #{queryCompanyBO.commitDateEnd}
        </if>
        ORDER BY c.commit_date DESC
    </select>

    <select id="getCompanyInfo" resultType="com.wuyiccc.tianxuan.pojo.vo.CompanyInfoVO">
        SELECT
            c.id AS companyId,
            c.company_name AS companyName,
            c.short_name AS shortName,
            c.logo AS logo,
            c.province AS province,
            c.city AS city,
            c.district AS district,
            c.address AS address,

            c.nature AS nature,
            c.people_size AS peopleSize,
            c.industry AS industry,
            c.financ_stage AS financStage,

            c.work_time AS workTime,
            c.introduction AS introduction,
            c.advantage AS advantage,
            c.benefits AS benefits,
            c.bonus AS bonus,
            c.subsidy AS subsidy,

            c.review_status AS reviewStatus,
            c.review_replay AS reviewReplay,

            c.commit_date AS commitDate,
            c.commit_user_id AS commitUserId,
            u.real_name AS commitUser,
            c.commit_user_mobile AS commitMobile,

            c.legal_representative AS legalRepresentative,
            c.regist_capital AS registCapital,
            c.regist_place AS registPlace,
            c.build_date AS buildDate,

            c.auth_letter AS authLetter,
            c.biz_license AS bizLicense,
            c.vip_expire_date AS vipExpireDate
        FROM
            tianxuan.company c
                LEFT JOIN
            tianxuan.user u
            ON
                c.commit_user_id = u.id
        WHERE
            c.id = #{companyId}

    </select>

    <select id="getCompanyInfoList" resultType="com.wuyiccc.tianxuan.pojo.vo.CompanyInfoVO">
        SELECT
            c.id AS companyId,
            c.company_name AS companyName,
            c.short_name AS shortName,
            c.logo AS logo,
            c.province AS province,
            c.city AS city,
            c.district AS district,
            c.address AS address,

            c.nature AS nature,
            c.people_size AS peopleSize,
            c.industry AS industry,
            c.financ_stage AS financStage,

            c.work_time AS workTime,
            c.introduction AS introduction,
            c.advantage AS advantage,
            c.benefits AS benefits,
            c.bonus AS bonus,
            c.subsidy AS subsidy,

            c.review_status AS reviewStatus,
            c.review_replay AS reviewReplay,

            c.commit_date AS commitDate,
            c.commit_user_id AS commitUserId,
            u.real_name AS commitUser,
            c.commit_user_mobile AS commitMobile,

            c.legal_representative AS legalRepresentative,
            c.regist_capital AS registCapital,
            c.regist_place AS registPlace,
            c.build_date AS buildDate,

            c.auth_letter AS authLetter,
            c.biz_license AS bizLicense
        FROM
            tianxuan.company c
                LEFT JOIN
            tianxuan.user u
            ON
                c.commit_user_id = u.id
        <where>
            <if test="companyIdList != null and companyIdList.size() > 0">
                and c.id in
                <foreach collection="companyIdList" item="companyId" open="(" separator="," close=")">
                    #{companyId}
                </foreach>
            </if>
        </where>
    </select>
</mapper>